/* Document-level defaults */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    max-width: 808px;
}

/* Header-related styles */
.header {
    background-color: blue;
    color: white;
    text-align: center;
}

.filter {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/* Content-related styles and general styles */
.content {
    width: 100%;
}

.sidebar {
    background-color: #c2ccd1;
}

.center {
    text-align: center;
}

ul {
    margin: 0;
    padding: 5px;
}

li {
    list-style: none;
    padding: 0;
    margin: 4px;
    cursor: pointer;
}

/* Footer-related styles */
.footer {
    background-color: blue;
    color: white;
    text-align: center;
    width: 100%;
}

/* Google Map-related styles */
.map-canvas {
    height: 100%;
    width: 100%;
}

/* Google Map Info Window Styles */
.yelp-quote {
    font-style: italic
}

.yelp-image {
    width: 100px;
    height: 100px;
}

/* Responsiveness-related CSS */
img, embed,
object, video {
    max-width: 100%;
}

/* Flex-box/grid system CSS */
.container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}