<div id="infoCanvas" style="info-canvas">
    <div class="row">
        <div class="yelp-summary">
            <img src="rating_image_url" alt="Star rating image">
            <br/>

            <h2>poiName</h2>

            <p>--markerDescription--</p>

            <h3>Recent Yelp Review</h3>

            <p class="yelp-quote">yelpQuote</p>
        </div>
        <div class="float-right">
            <img id="yelp-image" class="yelp-image" src="image_url"
                 alt="Image of this location">
        </div>
    </div>
</div>