<div id="infoCanvas">
    <div class="row">
        <div class="col-10">
            <img src="rating_image_url" alt="Star rating image">
            <br />
            <h2>poiName</h2>
            <p>--markerDescription--</p>
        </div>
        <div class="col-2">
            <img src="image_url" alt="Image of this location"
                 height="100" width="100" class="float-right">
        </div>
    </div>
    <div class="row">
           <div class="col-12">
               <h3>Recent Yelp Review</h3>
               <p class="yelp-quote">yelpQuote</p>
           </div>
    </div>
</div>